<?xml version="1.0"?>
<!-- http://wiki.ros.org/urdf/XML/link -->
<robot name="simple_robot">
    <link name="base_link">
        <visual>
            <geometry>
                <cylinder length="0.05" radius="0.2"/>
            </geometry>

            <!--origin - the reference frame of the visual element with respect to the reference frame of the link -->
            <!-- rpy - r is roll, p-pitch and y -yaw -->
            <!-- xyz - x,y,z -offsets -->
            <origin rpy = "0 0 0" xyz="0 0 0"/>
            <material name="yellow">
                <color rgba="1 1 0 1"/>
            </material>
        </visual>
    </link>
</robot>